/* import Poppins Font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-color: #f3f3f4;
}

.calculator-container {
  width: 600px;
  height: 600px;
  background-image: linear-gradient(to top, #c2e59c, #64b3f4);
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 3px 3px 21px 5px rgba(0, 0, 0, 0.42);
  box-shadow: 3px 3px 21px 5px rgba(0, 0, 0, 0.42);
  top: 100px;
  display: flex;
  border-radius: 15pt;
  flex-direction: column;
  display: -webkit-flex;
}
.calculator-container .title {
  width: 270px;
  height: 40px;
  margin: 0 auto;
  position: relative;
  top: 35px;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 15pt;
}
.calculator-container .title h1 {
  text-align: center;
  font-weight: 400;
  font-size: 25px;
}
.calculator-container h2 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: 300;
  top: 100px;
}
.calculator-container .score-container {
  width: 300px;
  margin: 0 auto;
  height: 40px;
  position: relative;
  top: 160px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.calculator-container .score-container #show-score {
  margin: 0 auto;
  width: 110px;
  height: 60px;
  font-size: 30px;
  background-color: transparent;
  text-align: center;
  outline: none;
  border: 1px solid #f4f5f8;
}
.calculator-container input::-webkit-outer-spin-button,
.calculator-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calculator-container input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

input[type=range] {
  width: 330px;
  position: relative;
  top: 260px;
  margin: 0 auto;
  -webkit-appearance: none;
  /* Hides the slider*/
  background: #589fc9;
  border-radius: 15pt;
  height: 5px;
}

input[type=number]:focus {
  border: 1px solid #f4f5f8;
  outline: none;
}

.warning-message {
  width: 300px;
  height: 20px;
  position: relative;
  top: 200px;
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  overflow: hidden;
  font-size: 14px;
  color: red;
}

.weight-container {
  width: 330px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: 270px;
  border-radius: 15pt;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.weight-container .underweight {
  width: 110px;
  height: 30px;
  margin-right: 2px;
  border-radius: 15pt;
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
  color: #FFFFFF;
  visibility: hidden;
  letter-spacing: 1px;
  background-color: #f74f4f;
}
.weight-container .normal {
  width: 100px;
  height: 30px;
  margin-right: 2px;
  border-radius: 15pt;
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
  color: #FFFFFF;
  visibility: hidden;
  letter-spacing: 1px;
  background-color: #45b27D;
}
.weight-container .overweight {
  width: 100px;
  height: 30px;
  background-color: #000000;
  border-radius: 15pt;
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
  color: #FFFFFF;
  letter-spacing: 1px;
  visibility: hidden;
}

.fas {
  margin: 0 auto;
  position: relative;
  top: 320px;
  color: #589fc9;
}

@media screen and (max-width: 417px) and (min-width: 360px) {
  .calculator-container {
    width: 345px;
    height: 600px;
    position: relative;
    top: 20px;
  }
  .calculator-container .title {
    position: relative;
    top: 25px;
    width: 210px;
    height: 35px;
    border: 1px solid black;
  }
  .calculator-container .title h1 {
    font-size: 20px;
    font-weight: 400;
  }
  .calculator-container .score-container {
    position: relative;
    top: 160px;
  }
  .calculator-container .score-container #show-score {
    font-size: 40px;
    width: 80px;
    font-size: 20px;
  }
  .calculator-container .warning-message {
    position: relative;
    top: 220px;
  }
  .calculator-container input[type=range] {
    width: 250px;
    position: relative;
    top: 290px;
  }
  .calculator-container .weight-container {
    width: 270px;
    position: relative;
    top: 300px;
  }
  .calculator-container .weight-container .warning {
    letter-spacing: 1px;
    font-size: 11px;
    padding-top: 8px;
  }
  .calculator-container .fa-paw {
    position: relative;
    top: 350px;
  }
  .calculator-container .fa-paw:before {
    content: "\f1b0";
    font-size: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
